@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: #181817 !important;
  color: #e5e5e1 !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#page {
  width: 90%;
  max-width: 60rem;
  margin: 2rem auto;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 30px;
}

#logo {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  border-radius: 4px;
}

#main-header #logo a,
#main-header #logo a:hover {
  color: #e1e1d7;
  text-decoration: none;
}

.navbar {
  padding: 20px !important;
  font-weight: bold;
}

.navbar-toggler-icon {
  color: white !important;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(234, 232, 236);
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

.navbar ul a {
  text-decoration: none;
  color: #e5e5e1;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.navbar ul a:hover,
.navbar ul a.active {
  background-color: #bcbcb7 !important;
  color: #181817 !important;
}

#home {
  margin: 3rem auto;
  max-width: 50rem;
  text-align: center;
  height: 100vh !important;
  background-size: cover !important;
}

#home img {
  width: 8rem;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 #181817;
}

#home h1 {
  margin-top: 3rem;
  font-size: 2.5rem;
}

#home p {
  margin: 2rem 0;
  color: #bcbcb7;
  font-size: 1.1rem;
}

#home a {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #bcbcb7;
  color: #181817;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 2rem;
}

#home a:hover {
  background-color: #e5e5e1;
}

.news-list {
  padding: 20px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.news-list a {
  display: flex;
  letter-spacing: 1px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  color: #e5e5e1;
  border: 2px solid rgb(94, 94, 94);
  text-decoration: none;
  border-radius: 24px;
  font-size: 15px;
  padding: 20px;
  text-transform: uppercase;
  width: 100%;
}

.news-list a img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  border-radius: 4px;
  border-radius: 16px;
}

.news-list a:hover {
  background-color: #2d2d2b;
}

.modal-backdrop {
  position: fixed !important;
  top: 0 !important ;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.85) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.news-article img {
  width: 7rem !important;
  margin-bottom: 1rem !important;
  border-radius: 4px !important;
}

.modal {
  max-width: 50rem !important;
  width: 100% !important ;
  text-align: center !important;
  border: 2px solid white !important;
}

.modal img {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.modal h2,
.modal h1 {
  margin: 0;
}

#archive-latest {
  text-transform: uppercase;
}
#archive-header ul {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

#archive-header ul a {
  text-decoration: none;
  color: #b0b0a6;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.25rem;
}

#archive-header ul a:hover,
#archive-header ul a.active {
  color: #e5e5e1;
}

#archive-filter {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #b0b0a6;
  text-transform: uppercase;
}

.error {
  text-align: center;
  margin-top: 3rem;
}

.details {
  padding: 50px;
  text-align: center;
}

.details img {
  height: 400px;
  border-radius: 30px;
}

.arc {
  padding: 30px;
}
.arc h1 {
  text-transform: uppercase;
}
.fullscreen-image {
  width: 100% !important;
  text-align: center !important;
  height: 100vh !important;
}

.outer {
  background-color: black;
  color: white;
  padding: 10px;
}

.inner {
  border: 2px solid rgb(79, 77, 77);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 30px;
}

.inner img {
  text-align: center;
}

.inner button {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  border: none;
}
.inner button:hover {
  box-shadow: 0px 0px 20px 20px white;
}
.inner button a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}

@media (max-width: 412px) {
  .inner h1 {
    font-size: 15px;
  }
  .inner p {
    font-size: 10px;
    line-height: 20px;
  }
  #main-header ul a {
    gap: 0;
    font-size: 12px;
  }
}
.form {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.form label {
  text-transform: uppercase;
}
.form input {
  padding: 15px;
  border-radius: 15px;
  border: 2px solid white;
  background-color: #000000;
  color: white;
  width: 50%;
}

.form ::placeholder {
  text-transform: uppercase;
}

.form button {
  padding: 10px;
  border-radius: 15px;
  letter-spacing: 3px;
  font-weight: 900;
  text-transform: uppercase;
}

.nav-link {
  color: white !important;
  text-transform: uppercase;
}

.navbar-brand {
  color: white !important;
}

.notfound {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: notfoundd 1s infinite ease;
}

@keyframes notfoundd {
  0% {
    background-color: #000000;
  }
  20% {
    background-color: #f40000;
    color: #000000;
  }
  30% {
    background-color: #330cdf;
    color: white;
  }
  40% {
    background-color: #32f102;
    color: #000000;
  }
  50% {
    background-color: #09d8e7;
    color: #f40000;
  }
  60% {
    background-color: #f900b7;
    color: #32f102;
  }

  70% {
    background-color: #000000;
  }
  80% {
    background-color: #f40000;
    color: #000000;
  }
  90% {
    background-color: #330cdf;
    color: white;
  }
  100% {
    background-color: #32f102;
    color: #000000;
  }
}
